transformers 
datasets 
accelerate 
bitsandbytes 
peft 
langchain 
chromadb 
sentence-transformers 
scikit-learn 
torch
tensorflow
tf-keras
triton
langchain-community
numpy==1.26.4
fastapi
uvicorn[standard]
prometheus_client
huggingface_hub